.checkboxlabel{
    /*display:flex;*/
    justify-content: space-between;
    text-align:justify;
}
.message{
    display:flex;
    justify-content:space-between;
}
textarea{
    width:82%;
}
.radiobuttons{
    display:flex;
}
.survey{
    font-family: 'Raleway', sans-serif;
    margin-top:25px;
}
h1{
    font-weight:400;
    font-family: 'Merriweather', serif
}
#description{
    font-family: 'Merriweather', serif
}
@media(max-width:500px){
    .checkboxlabel{
        display:block;
    }
}
input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.required-label:after {
    content: " *";
    color: red;
}

.title{
    color: #003f70;
    font-family: auto;
    font-weight: bold;
}
.subtitle{
    color: #20897f;
    font-family: auto;
    font-weight: bold;
}
.question{
    font-family: auto;
    color: cadetblue;
    font-weight: bold;
}
.margin-div{
    margin-top: 30px;
}
